
.container{
    color: #dbe6ff;

}
.do{
    background-color: #121419;
    color: #dbe6ff;
    height: 105vh;
}
.white-text{
    color: #dbe6ff;
}
.re{
    background-color: #121419;
    color: #dbe6ff;
}
.fa{
    color: maroon;
}
