<%- include("header.ejs") %>
<div class="do">
<div class="container">
<div class="px-4 pt-5  text-center border-bottom">
    <h1 class="display-4 fw-bold ">NekoFlix</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Welcome to NekoFlix – your ultimate destination for everything anime! Whether you're a lifelong otaku or just beginning your anime journey, we are here to bring you the best and latest from the world of anime, manga, and Japanese pop culture.

        At [Your Website Name], we are passionate about creating a vibrant community where fans can explore, discuss, and celebrate their favorite anime series, characters, and genres. Our site features:
        <br>
       <span class="fa"> Anime Reviews: </span>Honest and insightful reviews to help you find the best shows to watch.
        Latest News: Stay up-to-date with breaking anime announcements, new releases, and industry trends.
        
        </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        <!-- <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3">Primary button</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button> -->
      </div>
    </div>
    <div class="overflow-hidden" style="max-height: 30vh;">
      <div class="container px-5">
        <img src="images/toji.jpg" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
      </div>
    </div>
  </div>
</div>
</div>
<!-- <%- include("footer.ejs") %> -->